body {
  background-color: #6441A5;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: 600px;
  min-width: 574px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  line-height: 100px;
}

.heading {
  display: inline-block;
  font-size: 30px;
  font-weight: 900;
  color: #B9A3E3;
}

.logo {
  width: auto;
  height: 100px;
  float: left;
  vertical-align: middle;
}

.btn-wrapper {
  float: right;
}

.filter-btn {
  text-align: center;
  display: inline-block;
  height: 75px;
  width: 75px;
  line-height: 75px;
  border-radius: 50%;
  border: none;
  background-color: #B9A3E3;
  color: #391678;
  font-weight: 700;
}

.filter-btn:hover {
  background-color: #F1F1F1;
}

.channel-info {
  height: auto;
  line-height: 60px;
  margin: 5px 0 5px 0;
  padding: 5px;
  background-color: #B9A3E3;
  color: #391678;
  font-weight: 700;
}

.channel-info:hover {
  background-color: #F1F1F1;
}

.profile-pic {
  height: 50px;
  border: 3px solid #F1F1F1;
  border-radius: 50px;
  vertical-align: middle;
}

.profile-img-ctn {
  display: inline-block;
  width: 33%;
}

.channel-name {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.stream-name {
  display: inline-block;
  width: 33%;
  text-align: right;
}

a:link {
  color: #391678;
  text-decoration: none;
}

a:visited {
  color: #391678;
}

a:hover {
  text-decoration: underline;
}